<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>用户登录</h2>
    <form action="/signIn" method="post">
        <ul>
            <li>
                <label for="username">用户名：</label>
                <input type="text" name="username" id="username">
            </li>
            <li>
                <label for="password">密码：</label>
                <input type="password" name="password" id="password">
            </li>
            <li>
                <input type="submit" value="登录">
            </li>
        </ul>
    </form>
</body>
</html>